*.aux
*.log
*.out
*.spl
*.synctex.gz
*.toc
Week3/*
!Week3/report/
Week2/*
!Week2/usecase/
!Week2/activity/
!Week2/report/
Week2/usecase/admin/template.tex
Week2/usecase/guest/template.tex
!Week2/output.csv
!Week2/input.csv
!Week2/table.yml
!Week2/latex_code.txt
!Week2/usecase_spec.py
!Week2/convert.py
