*.aux
*.log
*.out
*.spl
*.synctex.gz
Week2/*
!Week2/usecase
!Week2/activity
!Week2/report/
Week2/usecase/Admin.pdf
Week2/usecase/Overview.pdf
Week2/usecase/admin/template.tex
Week2/usecase/guest/template.tex
